{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Checkout{% endblock title %}
{% block breadcrumblist %}
<li><a href="{% url 'cart' %}">Shopping Cart</a></li>
<li class="active">Checkout</li>
{% endblock breadcrumblist%}
{% block content %}
  <!--Checkout Area Strat-->
  <div class="checkout-area pt-60 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="coupon-accordion">
                  
                    <!--Accordion Start-->
                    <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                    <div id="checkout_coupon" class="coupon-checkout-content">
                        <div class="coupon-info">
                            <form action="#">
                                <p class="checkout-coupon">
                                    <input placeholder="Coupon code" type="text">
                                    <input value="Apply Coupon" type="submit">
                                </p>
                            </form>
                        </div>
                    </div>
                    <!--Accordion End-->
                </div>
            </div>
        </div>
        {% comment %} <form action="" method="POST">
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit" class="btn btn-info">Submit</button>
        </form>  {% endcomment %}
        <div class="row">
         
            <div class="col-lg-6 col-12">
                
                <form action="#" method="POST">
          {% csrf_token %}

                    <div class="checkbox-form">
                        <div class="row">
                           
                        <h3>Shipping Details:</h3>

                           
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Address <span class="required">*</span></label>
                                    <input placeholder="Street address" type="text" name="address" id="address">
                                </div>
                            </div>
                           
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Street <span class="required">*</span></label>
                                    <input type="text" name="street" id="street">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>City <span class="required">*</span></label>
                                    <input placeholder="" type="text" name="city" id="city">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Country <span class="required">*</span></label>
                                    {{form.country}}
                                </div>
                            </div>
                            <div class="col-md-12">
                              <div class="custom-control custom-radio">
                                <input id="stripe" value="S" name="payment_option" type="radio" class="custom-control-input">
                                <label class="custom-control-label" for="stripe">Stripe</label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input id="paypal" value="P" name="payment_option" type="radio" class="custom-control-input">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                              </div>
                            </div>
                            <div class="order-button-payment col-md-6">
                                <input value="Make payment" type="submit">
                            </div>
                            
                        </div>
                       
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-12">
                <div class="your-order">
                    <h3>Order Summary</h3>
                    <div class="your-order-table table-responsive">
                        {% comment %} <table class="table">
                            <thead>
                                <tr>
                                    <th class="cart-product-name">Product</th>
                                    <th class="cart-product-total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr class="cart_item">
                                  <td class="cart-product-name"> {{item.product.title}}<strong class="product-quantity"> ×  {{item.quantity}}</strong></td>
                                  <td class="cart-product-total"><span class="amount">{% load humanize %} KSH {{item.product.price|floatformat:0|intcomma}}</span></td>  
                                </tr>
                                {% endfor %}
                            
                            </tbody>
                            <tfoot>
                                <tr class="cart-subtotal">
                                    <th>Total Items</th>
                                    <td><span class="amount">{{order.get_cart_items}}</span></td>
                                </tr>
                                <tr class="cart-subtotal">
                                    <th>Cart Subtotal</th>
                                    <td><span class="amount">{% load humanize %}KSH {{order.get_cart_total|floatformat:0|intcomma}}</span></td>
                                </tr>
                                <tr class="order-total">
                                    <th>Order Total</th>
                                    <td><strong><span class="amount">{% load humanize %}KSH {{order.get_cart_total|floatformat:0|intcomma}}</span></strong></td>
                                </tr>
                            </tfoot>
                        </table> {% endcomment %}
                    </div>
                    <div class="payment-method">
                        <div class="payment-accordion">
                            <div id="accordion">
                              <div class="card">
                                <div class="card-header" id="#payment-1">
                                  <h5 class="panel-title">
                                    <a class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Direct Bank Transfer.
                                    </a>
                                  </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                  <div class="card-body">
                                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="#payment-2">
                                  <h5 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Cheque Payment
                                    </a>
                                  </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                  <div class="card-body">
                                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="#payment-3">
                                  <h5 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      PayPal
                                    </a>
                                  </h5>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                  <div class="card-body">
                                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="order-button-payment">
                                <input value="Place order" type="submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Checkout Area End-->
{% endblock content %}