{% extends 'base.html' %}
{% load static %}
{% block title %}Products category{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        
            {% for product in data %}
            <div class="col-md-3 offset-1 p-10">
            <div class="single-product-wrap pb-10">
                <div class="product-image">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{product.imageURL}}" alt="Li's Product Image">
                    </a>
            
                </div>
                <div class="product_desc">
                    <div class="product_desc_info">
                        <div class="product-review">
                            <h5 class="manufacturer">
                                <a href="#">{{product.collection}}</a>
                            </h5>
                            <div class="rating-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                        <h4><a class="product_name" href="{{ product.get_absolute_url }}">{{product.title}}</a></h4>
                        <div class="price-box">
                            <span class="new-price"> {% load humanize %} KES {{product.price|floatformat:0|intcomma}} </span>
                        </div>
                    </div>
                    <div class="add-actions">
                        <ul class="add-actions-link">
                            <li class="add-cart active"><a href="{{product.get_add_to_cart_url}}">Add to cart</a></li>
                            <li><a class="links-details" href="#"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            {% endfor %}
            


        
    </div>
</div>




{% endblock %}