{% extends 'base.html' %}
{% load static %}
{% block title %}FAQ{% endblock title %}
{% block breadcrumblist %}

<li class="active">FAQ</li>
{% endblock breadcrumblist%}
{% block content %}
            <!-- Begin Frequently Area -->
            <div class="frequently-area pt-60 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="frequently-content">
                                <div class="frequently-desc">
                                    <h3>Below are frequently asked questions, you may find the answer for yourself</h3>
                                    <p>Shoplify is your number one Online Shopping solution. You can purchase all your mobile phones, tablets, computers & laptops, women's fashion, men's fashion and more online and have them delivered to you. Shoplify has payment options that suit everyone, and we have a payment-on-delivery option for extra convenience.</p>
                                </div>
                            </div>
                            <!-- Begin Frequently Accordin -->
                            <div class="frequently-accordion">
                                <div id="accordion">
                                  <div class="card actives">
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">
                                        <a class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Are all products on Shoplify original, new/unused and genuine?
                                        </a>
                                      </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                      <div class="card-body">
                                        Yes, We are committed to offering our customers 100% genuine and original products. The only exception is for refurbished products, which we ensure the best quality grade and full warranty.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingTwo">
                                      <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Do I need an account to shop on Shoplify?
                                        </a>
                                      </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                      <div class="card-body">
                                     Yes, you need to have an account already created. You can create one on the spot, once you’ve found the product you want to buy.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingThree">
                                      <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How do I place an order?
                                        </a>
                                      </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                      <div class="card-body">
                                        Shopping on Shoplify is easy! Once you have found the product you want to buy, just follow the steps below:
                                        <p>
                                            - Click on 'add to cart', to add this product to your cart,

                                        </p>
                                        <p>
                                            - Click on 'cart' in the top right corner,
                                        </p>
                                        <p>
                                            - Register/Login into your account by entering your email and password,
                                        </p>
                                        <p>
                                            - Enter your shipping/billing information,
                                        </p>
                                        <p>
                                            - Choose your preferred payment option,
                                        </p>
                                        <p>
                                            - Click on 'Complete order' to proceed to the payment portal and complete your order.
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                               
                                
                                
                               
                                </div>
                            </div>
                            <!--Frequently Accordin End Here -->
                        </div>
                    </div>
                </div>
            </div>
            <!--Frequently Area End Here -->
{% endblock %}