{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<!-- Begin Slider With Category Menu Area -->
<div class="slider-with-banner">
<div class="container">
<div class="row">
<!-- Begin Category Menu Area -->
<div class="col-lg-3">
<!--Category Menu Start-->
<div class="category-menu">
<div class="category-heading">
<h2 class="categories-toggle"><span>categories</span></h2>
</div>
<div id="cate-toggle" class="category-menu-list">
    {% if collection %}
<ul>
    
    {% for c in collection %}
<li class=""><a href="/collection-product-list/{{c.id}}">{{c.title}}</a>
</li>
{% endfor %}
</ul>
{% endif %}
</div>
</div>
<!--Category Menu End-->
</div>
<!-- Category Menu Area End Here -->
<!-- Begin Slider Area -->
<div class="col-lg-9">
<div class="slider-area pt-sm-30 pt-xs-30">
<div class="slider-active owl-carousel">
<!-- Begin Single Slide Area -->
<div class="single-slide align-center-left animation-style-02 bg-4">
<div class="slider-progress"></div>
<div class="slider-content">
    <h5>Sale Offer <span>-20% Off</span> This Week</h5>
    <h2>Chamcham Galaxy S9 | S9+</h2>
    <h3>Starting at <span>KES5889.00</span></h3>
    <div class="default-btn slide-btn">
        <a class="links" href="shop-left-sidebar.html">Shop Now</a>
    </div>
</div>
</div>
<!-- Single Slide Area End Here -->
<!-- Begin Single Slide Area -->
<div class="single-slide align-center-left animation-style-01 bg-5">
<div class="slider-progress"></div>
<div class="slider-content">
    <h5>Sale Offer <span>Black Friday</span> This Week</h5>
    <h2>Work Desk Surface Studio 2018</h2>
    <h3>Starting at <span>KES15999.00</span></h3>
    <div class="default-btn slide-btn">
        <a class="links" href="shop-left-sidebar.html">Shop Now</a>
    </div>
</div>
</div>
<!-- Single Slide Area End Here -->
<!-- Begin Single Slide Area -->
<div class="single-slide align-center-left animation-style-02 bg-6">
<div class="slider-progress"></div>
<div class="slider-content text-white">
    <h5>Sale Offer <span>-10% Off</span> This Week</h5>
    <h2>Phantom 4 Pro+ Obsidian</h2>
    <h3>Starting at <span>KES8099.00</span></h3>
    <div class="default-btn slide-btn">
        <a class="links" href="shop-left-sidebar.html">Shop Now</a>
    </div>
</div>
</div>
<!-- Single Slide Area End Here -->
</div>
</div>
</div>
<!-- Slider Area End Here -->
</div>
</div>
</div>
<!-- Slider With Category Menu Area End Here -->

<!-- Begin Li's Laptops Product | Home V2 Area -->
<section class="product-area li-laptop-product Special-product pt-60 pb-45">
<div class="container">
<div class="row">
<!-- Begin Li's Section Area -->
<div class="col-lg-12">
<div class="li-section-title">
<h2>
<span>Products</span>
</h2>
</div>

<div class="row">
<div class="product-active owl-carousel">
{% for product in products %}
<div class="col-lg-12">
<!-- single-product-wrap start -->
<div class="single-product-wrap">
    <div class="product-image">
        <a href="{{ product.get_absolute_url }}">
            <img src="{{product.imageURL}}" alt="Li's Product Image">
        </a>

    </div>
    <div class="product_desc">
        <div class="product_desc_info">
            <div class="product-review">
                <h5 class="manufacturer">
                    <a href="#">{{product.collection}}</a>
                </h5>
                <div class="rating-box">
                    <ul class="rating">
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
            </div>
            <h4><a class="product_name" href="{{ product.get_absolute_url }}">{{product.title}}</a></h4>
            <div class="price-box">
                <span class="new-price"> {% load humanize %} KES {{product.price|floatformat:0|intcomma}} </span>
            </div>
        </div>
        <div class="add-actions">
            <ul class="add-actions-link">
                <li class="add-cart active"><a href="{{product.get_add_to_cart_url}}">Add to cart</a></li>
                <li><a class="links-details" href="#"><i class="fa fa-heart-o"></i></a></li>
                <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- single-product-wrap end -->
</div>
{% endfor %}

</div>
</div>
</div>
<!-- Li's Section Area End Here -->
</div>
</div>
</section>
<!-- Li's Laptops Product | Home V2 Area End Here -->

  {% endblock content %}       