{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid">
  <div class="row"> 
  {% for product in products %}
  <div class="col-md-4">
    <div class="card card-product-grid card-lg p-1 "> <a href="{{product.imageURL}}" class="img-wrap" data-abc="true"><img src="{{product.imageURL}}"></a>
        <figcaption class="info-wrap">
            <div class="row">
                <div class="col-md-9"> <a href="#" class="title" data-abc="true">{{product.title}}</a> </div>
                <div class="col-md-3">
                    <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                </div>
            </div>
        </figcaption>
        <div class="bottom-wrap"> <a href="{% url 'product_details' product.id  %}" class="btn btn-primary float-right" data-abc="true"> Details </a>
            <div class="price-wrap"> <span class="price h5">Kes {{product.price}}</span> <br> 
              {% comment %} <small class="text-success">{{product.collection}}</small> {% endcomment %}
              <small class="text-danger">{{product.inventory}}</small>
            </div>
        </div>
    </div>
  </div>
    {% endfor %}
 
  </div>
</div>




{% endblock content %}
